body {
    color:aqua;
    background:black;
    margin: 10px;
font-family:"Edu VIC WA NT Beginner", sans-serif;
}
header{
    border-bottom: solid  30px rgb(rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255));
    padding: 20px;
    font-size: 32px;
    color: rgb(rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255));
}
section{
background: rgb(rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255));
padding-bottom: 80px;  
padding-top: 80px;  
display: flex;
justify-content: center;
}
 .chamada-texto{
    margin-right: 5%;

 }
 h1{
    font-size: 40px;
 }

 p{
    font-size: 20px;
 }
 img{
   height: 200px;
 }
 .categoria {
   padding-left: 20xp; 
   padding-right: 20xp;
 }
 .categoria-videos{
   display: flex;
   overflow-x: auto;
   gap: 10xp;
 }